<!DOCTYPE html>
<html>
<head>
  <title>Musix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
	<%= button_to "logout", sessions_url, :method => :delete%>
<% else %>
	<%= button_to "login", {:controller=> "sessions", :action=> "new"}, :method => :get%>
<% end %>
<%= yield %>

</body>
</html>
